---
import Layout from '@/layouts/Layout.astro'
import { getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  type PathItem = {
    params: { about: string }
  }

  const paths: PathItem[] = []

  // Default locale
  paths.push({
    params: { about: 'about/' },
  })


  return paths
}

// Get about page content with different language
const allAboutEntries = await getCollection('about')
const aboutEntry = allAboutEntries[0]
const { Content } = aboutEntry ? await render(aboutEntry) : { Content: null }
---

<Layout>
  <!-- Decorative Line -->
  <div class="uno-decorative-line"></div>
  <!-- About Page Content -->
  <div class="heti">
    {Content && <Content />}
  </div>
</Layout>
